<div id="layoutDrawer">
    <!-- Layout navigation-->
    <div id="layoutDrawer_nav">
        <!-- Drawer navigation-->
        <nav class="drawer drawer-light">
            <div class="drawer-menu">
                <div class="nav">
                    <!-- Seção Sistema de RH -->
                    <div class="drawer-menu-heading">Sistema de RH</div>
                    
                    <!-- Drawer link (Colaboradores)-->
                    <a class="nav-link" routerLink="/colaboradores" routerLinkActive="active">
                        <div class="nav-link-icon">
                            <i class="material-icons">group</i>
                        </div>
                        Colaboradores
                    </a>
                    
                    <!-- Drawer link (Cargos)-->
                    <a class="nav-link" routerLink="/cargos" routerLinkActive="active">
                        <div class="nav-link-icon">
                            <i class="material-icons">work</i>
                        </div>
                        Cargos
                    </a>
                    
                    <!-- Drawer link (Departamentos)-->
                    <a class="nav-link" routerLink="/departamentos" routerLinkActive="active">
                        <div class="nav-link-icon">
                            <i class="material-icons">business</i>
                        </div>
                        Departamentos
                    </a>
                    
                    <!-- Seção Configurações -->
                    <div class="drawer-menu-heading">Configurações</div>
                    
                    <!-- Drawer link (Sair/Logout)-->
                    <a class="nav-link" (click)="onLogout()">
                        <div class="nav-link-icon">
                            <i class="material-icons">logout</i>
                        </div>
                        Sair
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>